<div class="container">
    <h1>Contact
        <small>Me</small>
    </h1>
    <br>
    <div class="row">
        <div class="col-md-8">
            <img class="img-fluid shadow" src="https://preview.ibb.co/ezzT6R/20799010_1388842174544777_7337992283832735438_n.jpg" alt="contact"
                border="0">
        </div>
        <div class="col-md-4">
            <br>
            <br>
            <h3>Social
                <small>media</small>
            </h3>
            <h2 style="color: blueviolet">
                <i class="fa fa-github-alt" aria-hidden="true"></i>
                <a target="_blank" href="https://github.com/jirayuch01" style="text-decoration: none">
                    <small>jirayuch01</small>
                </a>
            </h2>
            <h2 style="color: blueviolet">
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                <a target="_blank" href="https://www.facebook.com/JIch01beer" style="text-decoration: none">
                    <small>Jirayu Chinnawong</small>
                </a>
            </h2>
            <h2 style="color: blueviolet; font-size: 27px;">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <small>jirayu_ch01@hotmail.com</small>
            </h2>
            <h2 style="color: blueviolet; font-size: 27px;">
                <i class="fa fa-mobile" aria-hidden="true"></i>
                <small>&nbsp; (+66)9 5019 3878</small>
            </h2>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
</div>