<div class="row text-center">
    <div class="container">
            <center id="myDIV">
                    <br>
                    <br>
                    <br>   <h2 class="section-heading">Reset Password</h2>
        <h3 class="section-subheading text-muted">Please fill out the form below to reset your password.</h3>
                </center>
    </div>
</div>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form ng-hide="reset.hide" name="regForm" id="contactForm" ng-submit="reset.savePassword(regData, regForm.$valid, confirmed);"
                    novalidate>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div ng-class="{ 'has-success':(regForm.firstPassword.$valid && !regForm.firstPassword.$pristine), 'has-error':(!regForm.firstPassword.$valid && !regForm.firstPassword.$pristine) || (!regForm.firstPassword.$valid && regForm.$submitted) }">
                                    <label>Password:</label>
                                    <input ng-disabled="reset.disabled" class="form-control" type="password" name="firstPassword" placeholder="please enter password"
                                        ng-model="firstPassword" ng-minlength="8" ng-maxlength="35" ng-pattern="/^(?=.*?[a-z])(?=.*?[A-Z])(?=.*?[\d])(?=.*?[\W]).{8,35}$/"
                                        required>
                                    <p class="help-block" ng-show="(!regForm.firstPassword.$pristine && regForm.firstPassword.$error.required) || (regForm.$submitted && regForm.firstPassword.$error.required)">This field is required</p>
                                    <ul ng-show="(!regForm.firstPassword.$pristine && regForm.firstPassword.$error.pattern) || (!regForm.firstPassword.$pristine && regForm.firstPassword.$error.minlength) || (!regForm.firstPassword.$pristine && regForm.firstPassword.$error.maxlength)"
                                        class="help-block">
                                        <li>Must contain at least one upper case letter</li>
                                        <li>Must contain at least one lower case letter</li>
                                        <li>Must contain at least one number</li>
                                        <li>Must contain at least one special character</li>
                                        <li>Must contain at least 8 characters but no more than 35</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group">
                                <div ng-class="{ 'has-success':confirmed && !regForm.confirmPassword.$error.required, 'has-error':(!confirmed && !regForm.confirmPassword.$error.required) || (regForm.confirmPassword.$error.required && !regForm.confirmPassword.$pristine) || (regForm.$submitted && regForm.confirmPassword.$error.required) }">
                                    <label>Confirm Password:</label>
                                    <input ng-disabled="reset.disabled" class="form-control" type="password" name="confirmPassword" placeholder="please enter password"
                                        match="{{[firstPassword]}}" ng-change="reset.regData.password = confirm" ng-model="confirm"
                                        required>
                                    <p class="help-block" ng-show="(!regForm.confirmPassword.$pristine && regForm.confirmPassword.$error.required) || (regForm.$submitted && regForm.confirmPassword.$error.required)">This field is required</p>
                                    <p class="help-block" ng-show="!confirmed && !regForm.confirmPassword.$pristine && regForm.firstPassword.$valid">Passwords do not match</p>
                                </div>
                            </div>
                            <br>
                            <center>
                            <button ng-disabled="reset.disabled" class="btn btn-primary btn-lg" type="submit">Reset Password</button>
                            </center>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <div class="jumbotron text-center" ng-show="reset.loading">
            <span class="glyphicon glyphicon-repeat spinner"></span>
            <p>Loading....</p>
        </div>
        <div class="row show-hide-message" ng-show="reset.successMsg || reset.errorMsg">
            <div ng-class="alert">{{ reset.successMsg || reset.errorMsg }}</div>
        </div>
    </div>
</section>