<div class="row text-center">
    <div class="container">
        <h2 class="section-heading">User Registration</h2>
        <h3 class="section-subheading text-muted">Please enter your registration information.</h3>
    </div>
</div>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form name="regForm" ng-submit="register.regUser(regData, regForm.$valid);" novalidate>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div ng-class="{ 'has-success':(regForm.name.$valid && !regForm.name.$pristine), 'has-error':(!regForm.name.$valid && !regForm.name.$pristine) || (!regForm.name.$valid && regForm.$submitted) }">
                                    <label>Full Name:</label>
                                    <input class="form-control" type="text" name="name" placeholder="*** Please, enter your Name ***" ng-model="register.regData.name"
                                        ng-pattern="/^(([a-zA-Z]{3,20})+[ ]+([a-zA-Z]{3,20})+)+$/" ng-minlength="3" ng-maxlength="50"
                                        maxlength="50" required autofocus>
                                    <p class="help-block" ng-show="(!regForm.name.$pristine && regForm.name.$error.required) || (regForm.$submitted && regForm.name.$error.required)">This field is required</p>
                                    <ul ng-show="(!regForm.name.$pristine && regForm.name.$error.pattern) || (!regForm.name.$pristine && regForm.name.$error.minlength) || (!regForm.name.$pristine && regForm.firstName.$error.maxlength)"
                                        class="help-block">
                                        <li>Must have a space in between first and last firstName</li>
                                        <li>Must not contain any special characters</li>
                                        <li>Must not contain any numbers</li>
                                        <li>Must be at least 3 characters but no more than 50</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div ng-class="{ 'has-success':(regForm.email.$valid && !regForm.email.$pristine), 'has-error':(!regForm.email.$valid && !regForm.email.$pristine) || (!regForm.email.$valid && regForm.$submitted) }">
                                    <label>Email:</label>
                                    <input class="form-control" type="text" name="email" placeholder="*** Please, enter your E-mail ***" ng-model="register.regData.email"
                                        ng-pattern="/^[a-zA-Z0-9._%-]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,4}$/" ng-minlength="3" ng-maxlength="50"
                                        maxlength="50" required>
                                    <p class="help-block" ng-show="(!regForm.email.$pristine && regForm.email.$error.required) || (regForm.$submitted && regForm.email.$error.required)">This field is required</p>
                                    <ul ng-show="(!regForm.email.$pristine && regForm.email.$error.pattern) || (!regForm.email.$pristine && regForm.email.$error.minlength) || (!regForm.email.$pristine && regForm.email.$error.maxlength)"
                                        class="help-block">
                                        <li>Must contain "@"</li>
                                        <li>Must not contain any special characters</li>
                                        <li>Must be at least 3 characters but no more than 50</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div ng-class="{ 'has-success':(regForm.username.$valid && !regForm.username.$pristine), 'has-error':(!regForm.username.$valid && !regForm.username.$pristine) || (!regForm.username.$valid && regForm.$submitted) }">
                                    <label>Username:</label>
                                    <input class="form-control" type="text" name="username" placeholder="*** Please, enter your Username ***" ng-model="register.regData.username"
                                        ng-pattern="/^(?!.*?[\W])(?=.*?[a-zA-Z]|=.*?[A-Z]).{3,16}$/" ng-minlength="3" ng-maxlength="25"
                                        maxlength="25" required>
                                    <p class="help-block" ng-show="(!regForm.username.$pristine && regForm.username.$error.required) || (regForm.$submitted && regForm.username.$error.required)">This field is required</p>
                                    <ul ng-show="(!regForm.username.$pristine && regForm.username.$error.pattern) || (!regForm.username.$pristine && regForm.username.$error.minlength) || (!regForm.username.$pristine && regForm.username.$error.maxlength)"
                                        class="help-block">
                                        <li>Must not contain any special characters or spaces</li>
                                        <li>Must be at least 3 characters but no more than 25</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div ng-class="{ 'has-success':(regForm.password.$valid && !regForm.password.$pristine), 'has-error':(!regForm.password.$valid && !regForm.password.$pristine) || (!regForm.password.$valid && regForm.$submitted) }">
                                    <label>Password:</label>
                                    <input class="form-control" type="password" name="password" placeholder="*** Please, enter your Password ***" ng-model="register.regData.password"
                                        ng-pattern="/^(?=.*?[a-z])(?=.*?[A-Z])(?=.*?[\d])(?=.*?[\W]).{8,35}$/" ng-minlength="8"
                                        ng-maxlength="35" maxlength="35" required>
                                    <p class="help-block" ng-show="(!regForm.password.$pristine && regForm.password.$error.required) || (regForm.$submitted && regForm.password.$error.required)">This field is required</p>
                                    <ul ng-show="(!regForm.password.$pristine && regForm.password.$error.pattern) || (!regForm.password.$pristine && regForm.password.$error.minlength) || (!regForm.password.$pristine && regForm.password.$error.maxlength)"
                                        class="help-block">
                                        <li>Must contain at least one upper case letter</li>
                                        <li>Must contain at least one lower case letter</li>
                                        <li>Must contain at least one number</li>
                                        <li>Must contain at least one special character</li>
                                        <li>Must contain at least 8 characters but no more than 35</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-left">
                            <div id="success"></div>
                            <button type="submit" class="btn btn-primary">Register</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <br>
        <div class="jumbotron text-center" ng-show="register.loading">
            <span class="glyphicon glyphicon-repeat spinner"></span>
            <p>Loading....</p>
        </div>
        <br>
        <div class="row show-hide-message" ng-show="register.successMsg">
            <div class="alert alert-success">{{ register.successMsg }}</div>
        </div>
        <br>
        <div class="row show-hide-message" ng-show="register.errorMsg">
            <div class="alert alert-danger">{{ register.errorMsg }}</div>
        </div>
    </div>
</section>